[Desktop Entry]
Version=1.0
Type=Link
Name=Addressing Nextcloud Performance Warning - Configuring Memcache for Transactional File Locking - NextCloud - LIGHTNING COMPUTER REPAIR & SOLUTIONS
Comment=
Icon=user-bookmarks
URL=https://lightningcr.com/projects/nextcloud/wiki/Addressing_Nextcloud_Performance_Warning_-_Configuring_Memcache_for_Transactional_File_Locking
